body{
    padding: 0px;
    margin: 0px;
    background-color: #d3d8e8;
    
}
header{
 background-color: #3b5998;   
 height: 83px;
}
.m{
    float:right;
    margin-top: 16px;
}
h1{
    float: left;
    font-size: 38px;

    
}
.g{
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.center{
    width: 980px;
    margin: auto;
    display: block;
    
}
label{
    color: white;
}
button{
    margin-left: 30px;
    background-color: #4267b2;
    border: 1px solid #29487d;
    color: white;
    font-weight: bold;
    padding-top: 5px;
    font-size: 12px;
    cursor:e-resize;
    border-radius: 2px;
}
input{
    padding: 2px;
    width: 142px;
    margin-left: 15px;
}
.img{
    width: 500px;
    height: 350px;
    
}

    
    

    
    
.rou{
   width: 400px;
   
   margin-left: 350px;
   padding-left: 300px;
   margin-bottom: 400px;
   padding-bottom: 350px;
}
.nib{
height: 20px;
width: 120px;
padding-bottom: 2px;
margin-bottom: 12px;
border: 0px;
    border-radius: 5px;
    border: black;
}
.tr{
    height: 20px;
    width: 300px;
    border: 0px;
    border-radius: 5px;
        border: black;
}
.sr{
    height: 20px;
    width: 300px;
    margin-top: 12px;
    border: 0px;
    border-radius: 5px;
    border: black;
}
.mnb{
    height: 15px;
    width: 50px;
}
.qwr{
    background-color:chartreuse;
    color: white;
}
div.image.img{
    width: 300px;
}
